body{
  color: #fff;
  font-family: "BPG Nateli Mtavruli", sans-serif;
  background-color: #fae053;
  position: relative;
}
.parallax {
  /* The image used */
  background-image: url("../images/z3.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("../images/z3.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h6{
  line-height: 1.5;
}
p{
  font-size: 0.5;
}
a:hover{
  text-decoration: none;
}
input:focus, textarea:focus, select:focus, a:focus, i:focus, button:focus, div:focus, h2:focus, h6:focus{
outline: none;
}
.nav-a{
  font-size: 1.25rem;
}
.navbar-nav{
    display: table-header-group;
}
.dts-icon{
  color: #b55400;
  z-index: 20000;
}
#dts{
  z-index: 20000;

    display: inline-block;
    position: absolute;
    top: 34%;
    right: 2%;
    list-style: none;
}
.nav-item{
  transition: 0.4s;
}
.nav-item:hover{
  box-shadow: 0 2px black;
  transition: 0.4s;
}
.nav-link{
  color:gray;
  transition: 0.3s;
}
.nav-link:hover{
  color: black;
  transition: 0.3s;
}
.navigation{
  padding: 0.5rem 0.3125rem;
}
.navbar-brand{
  padding-left: 0.3125rem;
}
.navbar{
  position: relative;
  z-index: 25;
  background-color: transparent;
  text-align: left;
}
.navbar-toggler-icon{
  position: relative;
  z-index: 1;
}
.navbar-toggler-icon:hover{
  text-decoration: none;
}

.lang-special{

}
.fa-globe{
  z-index: 1;
  color:gray;
  font-size: 2.25rem;
  pointer-events: none;
}
.fa-globe-europe:hover{
  color: #eeeeee;
}
.arrow{
  color: #fff;
}
.arrow:hover{
  color:#fff;
}
.dropdown{
  padding: 0 1.625rem;
}
#textdr{
  text-shadow: none;
}

#first{
  padding: 4% 18%;
}
.first-h2{
  text-align: center;
  padding: 12px 0 6px;
}
.decoration{
  border-color: #fff;
  border-style: solid;
  border-width: thin;
  margin: 0 auto;
}
.hidden-p{
  text-decoration: overline;
  text-decoration-color: #fff;
  visibility: hidden;
}
#second{
  padding: 4% 10%;
}
#three{
  text-align: center;
  padding: 22px 0 20px;
}
.webName-p{
  text-align: center;
  font-family:'Sacramento';
  color: #b55400;
  display: inline-block;
  margin: 0 auto;
  padding: 1% 3%;
  font-size: 14px;
  border-radius: 100%;
  border-color: #b55400;
  border-style: solid;
}
#bottom-line{
  padding: 0 25%;
}

#middle-hr{
  padding:1% 28%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.67);
  visibility: visible;
}
.final-a{
color: #b55400;
}
.final-a:hover{
  color: #eeeeee;
  text-decoration: none;
}
.final-hr{
  border-style: solid;
  border-color: #b55400;
}
.contact-icons{
  color: #b55400;
  padding: 0 10px;
 outline-color: transperent;
}
.first-text{
  background-color: rgba(34, 34, 34, 0.25);
  border-radius: 1%;
}
.decoration-hr{
  padding: 0 32%;
}
.first-h6{
  text-align: left;
  font-size: 1.2rem;
  padding-top: 24px;
  line-height: 1.5;
}
.first-h6-2{
  text-align: left;
  font-size: 1.2rem;
  padding-top: 24px;
  line-height: 1.5;
}
.second-text{
  margin:27px auto;
}
.first-parallax{
  padding: 1% 1% 0;
}
.parallax-anim2{
  padding: 0 7%;
}
#contact-list{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.67);
  visibility: visible;
}
.n1:hover{
  color: #3982ef;
}
.n2:hover{
  color:#3982ef;
}
.n3:hover{
  color:#ff0000;
}
.n4:hover{
  color:#ff0000;
}
.n5:hover{
  color: #3982ef;
}
.n6:hover{
  color: #3982ef;
}
#footer{
  padding: 46px 0 20px;
  background-color: rgba(0, 0, 0, 0.67);
  text-align: center;
  visibility: visible;
}
@media screen and (min-width:1950px){
  #footer, #contact-list, #middle-hr{
    background-color: rgba(0, 0, 0, 0);
  }body{
    background-position: unset;
    background-size: cover;
  }
}
@media screen and (max-width: 1073px){.nav-item{
    font-size: 1rem;
  }.nav-a{
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px){#contact-list{
  text-align: left;
}.dropdown{
 padding: 0;
}.decoration-hr{
  padding: 0 27%;
}#first{
  padding: 4% 2%;
}.first-h6{
  font-size: 1rem;
  text-align: justify;
}
}
@media screen and (max-width:849px){
  .bottom-h2{
    text-align: center;
  }
}
@media screen and (max-width:710px){
  .decoration-hr{
    padding: 0 19%;
  }
}
@media only screen and (max-device-width: 1367px) {
  .parallax {
    background-attachment: scroll;
  }.parallax2 {
    background-attachment: scroll;
    visibility: hidden;
    max-height:0;
    min-height: 0;
  }
}
@media screen and (max-width:570px){
  .parallax2{
    min-height: 6rem;
  }
}
@media screen and (max-width:450px){
  .parallax2{
    min-height: 28rem;
  }
}
@media screen and (max-width:321px){
  .parallax2{
    min-height: 35rem;
  }.second-one{
    margin-bottom: 7rem;
  }
}
